<h2>We Need:</h2>
<% if @filter %>
  <%=@filter%><br><br>
<% end %>
<% @goods.each do |good|%>
    <%= link_to "#{good.name} - #{good.occupant.name}", establishment_good_path(good.occupant.establishment,good.occupant), method: :get %>
    <%= link_to "Edit", edit_establishment_good_path(good.occupant.establishment,good.occupant), method: :get %>
    <%= link_to "Delete", good, method: :delete %><br>
<% end %>
