<h2>We Need:</h2>
<% if @filter %>
  <%=@filter%><br><br>
<% end %>
<% @goods.each do |good|%>
    <%= good.name %> - <%= good.occupant.name %>
    <%= link_to "Delete", good, method: :delete %><br>
<% end %>
